
.card_content_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #686868;
}

.card_normal_text {
    color: #686868;
}

.card_title_text {
    font-weight: 600;
    width: 100px;
    color: #2A3B5D;
}

.card_subtitle {
    font-size: 12px;
    text-transform: uppercase;
    font-variant: small-caps;
    color: #C1C1C1;
}


.card_top {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.card_title {
    margin: 10px 0px 0px 0px;
    p {
        margin: 0 0 0 10px;
        color: #2A3B5D;
        font-size: 18px;
        font-weight: 600;
    }
}