.Home {
    .cards {
        padding-top: 5%;
        padding: 35px 80px 0px 80px;
        height: 80%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .home_section {
            width: 30%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }

    }
}
