.Home {
    .cards {
        padding-top: 5%;
        height: 80%;
        .card_planning {
            width: 25%;
            height: calc(100% - 30px);
            border-top: 30px solid #3B86FF;
        }
        .card_dataviz {
            height: 60%;
            border-top: 30px solid #FFA34F;
        }
        .cards_right {
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .cards_stats {
                height: 35%;
                align-items: flex-start;

                .card_stat {
                    width: 30%;
                    height: 75%;;
                    border-top: 30px solid #FFDD2D;
                }
            }
        }
    }
}
