.list_users {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
    .single_user {
        border: 1px solid white;
        margin: 10px;
        padding: 10px;
    }
    .MuiPaper-elevation2 {
        box-shadow: initial;
        background-color: #F4F6FB;
    }
    .MuiTableRow-head {
        .MuiTableCell-head {
            color: #B4B4B4;
            background-color: #F4F6FB !important;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600;
        }
    }
    .MuiTableCell-root {
        padding: 0px;
    }
}
