.navMain {
    background-color: white;
    .navMain_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        img {
            width: 100px;
            height: 100px;
        }
        .MuiListItem-root {
            border-radius: 10px;
        }
        .shortcuts {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}