.navMain {
    border-right: 1px solid blue;
    width: 15%;
    height: 100%;

    .navMain_header {
        
        h1 {
            font-size: 0.9em;
            text-align: center;
        }
    }
}