body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Inter' !important;
    background-color: #E5E5E5;
}

.MuiTypography-body1 {
    font-family: 'Inter' !important;
}

#root, .app, .home {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: row;
    height: 100%;
    .content {
        // height: 100%;
        width: 85%;
        padding: 40px 80px 40px 80px;
    }
    .navMain {
        height: 100%;
        width: 15%;
    }
}

.MuiTypography-root {
    font-family: 'Inter' !important;

}