body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto';
    color: white;
    background-color: #3a3939;
}

#root, .app_parent, .app, .home {
    height: 100%;
}

h1 {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: row;
    height: 100%;
}