.single_client_content {
    margin-top: 40px;
    background-color: #F7F9FD;
    .cards_top {
        .card_top {
            width: 50%;
            margin: 10px;
            .card_top_content {
                .scoring {
                    padding-left: 16px;
                    .scoring_subpart {
                        width: 70%;
                    }
                }
            }
        }
    }
    .client_card_title {
        border-bottom: 1px solid #E1E1E1;
        .cct_text {
            margin: 0;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;
            /* identical to box height */
            letter-spacing: 0.03em;
            color: #686868;
        }
        .cct_subtext {
            text-transform: uppercase;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.03em;
            font-variant: small-caps;
            color: #C1C1C1;
        }
    }
}

.card_subtitle {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    font-variant: small-caps;
    color: #C1C1C1;
}

.bold_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #686868;
}