.single_client_content {
    margin-top: 40px;
    background-color: #F7F9FD;
    .MuiCardContent-Root {
        padding: 0 !important; 
        background-color: red;
    }
    .cards_top {
        .card_top {
            width: 50%;
            margin: 10px;
            .card_top_content {
                .ctc_right {
                    padding-left: 16px;
                    .ctc_right_subpart {
                        width: 70%;
                    }
                }
            }
        }
    }
    .client_card_title {
        border-bottom: 1px solid #E1E1E1;
        padding: 16px;
        .cct_text {
            margin: 0;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;
        }
    }
}

.card_content_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #686868;
}

.card_normal_text {
    color: #686868;
}

.card_title_text {
    font-weight: 600;
}
.card_subtitle {
    text-transform: uppercase;
    font-variant: small-caps;
    color: #C1C1C1;
}
.client_stats_content {
    padding-top: 20px;
    .client_graph {
        width: 55%;
        .apexcharts-legend {
            display: flex;
            flex-direction: row;
            justify-content: space-around !important;
            .apexcharts-legend-series .apexcharts-legend-text {
                font-size: 15px !important;
                font-family: 'Montserrat' !important;
            }
        }
    }
    
    .client_objectifs {
        width: 40%;
    }
    

}

