.single_client_content {
    margin-top: 40px;
    background-color: #F7F9FD;
    .MuiCardContent-Root {
        padding: 0 !important; 
        background-color: red;
    }
    .cards_top {
        .card_top {
            width: 50%;
            margin: 10px;
            .card_top_content {
                align-items: stretch;
                .ctc_right {
                    padding-left: 16px;
                    .ctc_right_content {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        height: 90%;
                        .ctc_right_subpart {
                            width: 70%;
                        }
                    }
                    .ctc_right_infos {
                        flex-direction: row;
                    }
                }
            }
        }
    }
    .cards_bottom {
        .card_bottom  {
            margin: 10px;
        }
    }
    .client_card_title {
        border-bottom: 1px solid #E1E1E1;
        margin: 20px 20px 0px 20px;
        padding-bottom: 10px;
        .cct_text {
            margin: 0;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;
        }
    }
}

.client_stats_content {
    padding-top: 20px;
    .client_graph {
        width: 55%;
        .apexcharts-legend {
            display: flex;
            flex-direction: row;
            justify-content: space-around !important;
            .apexcharts-legend-series .apexcharts-legend-text {
                font-size: 15px !important;
                font-family: 'Montserrat' !important;
            }
        }
    }
    .client_objectifs {
        width: 34%;
        padding-left: 3%;
        padding-right: 3%;
        .objectifs_progressbar {
            border-radius: 10px;
            height: 50px;
            .op_front {
                background-color: #74EDB3;
            }
        }
        .op_back {
            width: 100%;
            background-color: #FAFAFA;
            border: 1px solid #E6E6E6;
        }
        .oc_subtitle {
            text-transform: uppercase;
            font-variant: small-caps;
            color: #C1C1C1;
        }
        .objectifs_list {
            height: 100%;
            margin-top: 2%;
            display: flex;
            flex-direction: column;
            overflow: scroll;
            .single_objectif {
                display: flex;
                flex-direction: row;
                width: 100%;
                background: #F5F5F5;
                border-radius: 5px;
                .so_checkbox {
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .so_content {
                    width: 80%;
                    .card_title_text {
                        width: initial;
                    }
                }
            }
        
        }

    }
}

