# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/server/node_modules
/server/config/app-env
/.pnp
.pnp.js

# python dependencies
/scripts/users-gen/Lib
/scripts/users-gen/Scripts
/scripts/users-gen/json

# python dependencies
/scripts/data-calculus/Lib
/scripts/data-calculus/Scripts
/scripts/data-calculus/database_ids.py
/scripts/data-calculus/single_client.xlsx

# python dependencies
/scripts/users-tables/Lib
/scripts/users-tables/Scripts
/scripts/users-tables/database_ids.py
/scripts/users-tables/json


# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/server/.env

/server/app-env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
