@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Montserrat" !important;
  background-color: #E5E5E5;
}

.MuiTypography-body1 {
  font-family: "Montserrat" !important;
}

#root, .app, .home {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.app .content {
  width: 85%;
  padding: 40px 80px 40px 80px;
}
.app .navMain {
  height: 100%;
  width: 20%;
}

.MuiTypography-root {
  font-family: "Montserrat" !important;
}

.header {
  height: 60px;
}
.header .text {
  width: 30%;
}
.header .text h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #2A3B5D;
}
.header .badges {
  width: 30%;
}
.header .badges .badge {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexed-row-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flexed-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card_top {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.emoji {
  width: 50px;
  height: 50px;
}

.Home .cards {
  padding-top: 5%;
  height: 80%;
}
.Home .cards .card_planning {
  width: 25%;
  height: calc(100% - 30px);
  border-top: 30px solid #3B86FF;
}
.Home .cards .card_dataviz {
  height: 60%;
  border-top: 30px solid #FFA34F;
}
.Home .cards .cards_right {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Home .cards .cards_right .cards_stats {
  height: 35%;
  align-items: flex-start;
}
.Home .cards .cards_right .cards_stats .card_stat {
  width: 30%;
  height: 75%;
  border-top: 30px solid #FFDD2D;
}

.navMain {
  background-color: white;
}
.navMain .navMain_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.navMain .navMain_content img {
  width: 100px;
  height: 100px;
}
.navMain .navMain_content .MuiListItem-root {
  border-radius: 10px;
}
.navMain .navMain_content .shortcuts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list_users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.list_users .single_user {
  border: 1px solid white;
  margin: 10px;
  padding: 10px;
}

.rowClientName {
  display: flex;
  flex-direction: row;
}
.rowClientName .rowClientNameDetails {
  display: flex;
  flex-direction: column;
}
.rowClientName .rowClientNameDetails p {
  margin: 0;
}
.rowClientName .rowClientNameDetails .name {
  color: black;
}
.rowClientName .rowClientNameDetails .scoring {
  color: #888888;
}

/*# sourceMappingURL=index.css.map */
