@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Montserrat" !important;
  background-color: #E5E5E5;
}

.MuiTypography-body1 {
  font-family: "Montserrat" !important;
}

#root, .app, .home {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.app .content {
  width: 85%;
  padding: 40px 80px 40px 80px;
}
.app .navMain {
  height: 100%;
  width: 20%;
}

.MuiTypography-root {
  font-family: "Montserrat" !important;
}

.header {
  height: 60px;
}
.header .text {
  width: 30%;
}
.header .text h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #2A3B5D;
}
.header .badges {
  width: 30%;
}
.header .badges .badge {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .badges .b_chat {
  background-color: #3B86FF !important;
}

.flexed-row-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flexed-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card_top {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.card_title {
  margin: 10px 0px 0px 0px;
}
.card_title p {
  margin: 0 0 0 10px;
  color: #2A3B5D;
  font-size: 18px;
  font-weight: 600;
}

.Home .cards {
  padding-top: 5%;
  height: 80%;
}
.Home .cards .card_planning {
  width: 25%;
  height: calc(100% - 15px);
  border-top: 15px solid #3B86FF;
}
.Home .cards .card_dataviz {
  height: 60%;
  border-top: 15px solid #FFA34F;
}
.Home .cards .card_dataviz .MuiCardContent-root {
  padding-top: 1px;
}
.Home .cards .cards_right {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Home .cards .cards_right .cards_stats {
  height: 35%;
  align-items: flex-start;
}
.Home .cards .cards_right .cards_stats .card_stat {
  width: 30%;
  height: 80%;
  border-top: 15px solid #FFDD2D;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home .cards .cards_right .cards_stats .card_stat .MuiCardContent-root {
  padding-top: 0;
}
.Home .cards .cards_right .cards_stats .card_stat .MuiCardContent-root p {
  color: #686868;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.navMain {
  background-color: white;
  color: #8798B5;
}
.navMain .navMain_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.navMain .navMain_content img {
  width: 100px;
  height: 100px;
}
.navMain .navMain_content .MuiListItem-root {
  border-radius: 10px;
  font-weight: 900;
}
.navMain .navMain_content .shortcuts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.navMain .navMain_content .shortcuts .title {
  font-weight: 900;
}

.Mui-selected {
  color: #3B86FF !important;
}

.list_users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.list_users .single_user {
  border: 1px solid white;
  margin: 10px;
  padding: 10px;
}

/*# sourceMappingURL=index.css.map */
